.button {
    background-color: #c8c9ca;
    border-radius: 10px;
    border: none;
    height: 60px;
    width: 45%;
    font-weight: bold;
    font-size: 1em;
}

.button :focus {
    background-color: #9e9fa0;
    color: white;
    outline: none;
}

.button:hover {
    cursor: pointer;
    background-color: #0f4c75;
    color: white;
}

.button:focus {
    outline: 0;
}

.inverted-button {
    border: 3px solid #c8c9ca;
    background-color: rgb(23, 24, 26);
    color: white;
}